doctype html
html
    head
      link(rel='stylesheet', href='main.css')
    body
        ul
            li
                a(href='index') Home
            li
                a(href='about') About Me
            li
                a(href='projects') Projects
            li
                a(href='services') Services
            li
                a(href='contact') Contact 

        block content
        br
        hr
        footer
        p Copyright &copy; 2019 Manankumar Patel